<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488601969370-iapd72494kos5m84vm1hjenbgbcn895a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488601969370-iapd72494kos5m84vm1hjenbgbcn895a</string>
	<key>API_KEY</key>
	<string>AIzaSyAcOVLqLVbI1XztIz4O24PRLXIV3NNskeo</string>
	<key>GCM_SENDER_ID</key>
	<string>488601969370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.instapay.instaCoin</string>
	<key>PROJECT_ID</key>
	<string>insta-coin-83959</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-coin-83959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488601969370:ios:2a324a2b3e998d2187fbe3</string>
</dict>
</plist>